<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmarch.web.system.mapper.DictMapper">
    <update id="deleteByIds">
        update
        sys_dict
        set is_delete = 1 where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findAll"  resultType="com.netmarch.web.system.bean.Dict">
        select d.*  from sys_dict d where d.is_delete = 0 order by d.id desc
    </select>

    <select id="queryByCondition" resultType="com.netmarch.web.system.bean.Dict">
        select
          d.id,
          d.name,
          d.code,
          d.parent_code,
          d.comments,
          d.create_time,
          d.creater,
          d.update_time,
          d.updater,
          dt.name parentName
          from sys_dict d left join sys_dict dt
          on d.parent_code = dt.code and dt.is_delete = 0
          <where>
                  and d.is_delete = 0
              <if test="parentCode != null and parentCode != ''">
                  and d.parent_code = #{parentCode}
              </if>
              <if test="keyWord != null and keyWord != ''">
                  and d.name like concat('%',#{keyWord},'%') or d.code like concat('%',#{keyWord},'%')
              </if>
          </where>
          order by d.id desc
    </select>

    <select id="findDictsByParentCode" resultType="com.netmarch.web.system.bean.Dict">

        select
          id,
          (case parent_code
           when '-1' then
            CONCAT('类型-',name)
            else
            name
            end
          )as name,
          code,
          parent_code,
          comments,
          create_time,
          creater,
          update_time,
          updater
          from sys_dict
          where is_delete = 0
          order by id desc
    </select>


    <select id="queryDictByCode" resultType="com.netmarch.web.system.bean.Dict">
        select
          id,
          name,
          code,
          parent_code,
          comments,
          create_time,
          creater,
          update_time,
          updater
          from sys_dict
          where code = #{code} and is_delete = 0
    </select>


    <select id="listDictByParentCodeList" resultType="com.netmarch.web.system.bean.Dict">
        select
        id,
        name,
        code,
        parent_code,
        comments,
        create_time,
        creater,
        update_time,
        updater
        from sys_dict
        where is_delete = 0 and  parent_code in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
        </foreach>
    </select>
    <select id="findDictById" resultType="com.netmarch.web.system.bean.Dict">
        select
          id,
          name,
          code,
          parent_code,
          comments,
          create_time,
          creater,
          update_time,
          updater
          from sys_dict
          where id = #{id} and is_delete = 0
    </select>
</mapper>